.exchange{
    .exchange__title{
        border-bottom: 1px solid $second-color;
        color: $shade-black;
        margin: 2.5rem 0;
        padding-bottom: .5rem;
    }
    .exchange__info--title {
        color: $shade-black;
        font-size: $font__h4;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    .exchange__text-block--wrapper {
        color: $second-color;
        position: relative;

        ul {
            list-style: none;
            font-size: $font__li-delivery;
            padding-left: 1%;
            margin-bottom: 1rem;

            li {
                position: relative;
                color: $shade-black;
                font-weight: 600;

                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    left: -10px;
                    top: 5.5px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: $base-color;

                }
                span {
                    color: $second-color;
                }
            }
        }
        p {
            font-size: $font__p-delivery;
            a {
                color: $base-color;
            }
            span {
                font-weight: 600;
                color: $shade-black;
            }
        }
        .exchange__info__title {
            color: $shade-black;
            font-size: $font__h3;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        .exchange__title--wrap{
            display: flex;

            p{
                margin-bottom: 0;
                padding-top: .5rem;
                margin-left: 1rem;
            }
        }
    }
}