.index {

    //MAIN GALLERY BLOCK -- PAGE/INDEX
    /*  PAGE/INDEX --> Top Section */
    .slider-top {
        img {
            width: 100%;
        }
    }

    /*  PAGE/INDEX --> Mid Section */
    .main-gallery {
        &:first-child {
            .column__item {
                &:last-child {
                    margin-top: 2rem;
                }
            }
        }

        .column {
            display: flex;
            flex-direction: column;

            .column__item {
                display: flex;

                img {
                    width: 100%;
                }
            }
        }
    }

    .main-gallery__h2 {
        font-size: 24px;
        width: 50%;
        border-bottom: 1px solid black;
        margin: 3rem auto 2.7rem 0;
        padding-bottom: 13px;
    }


    .slider-top__btn {
        position: absolute;
        display: inline-block;
        transform: translate(50%, -50%);
        top: 50%;
        right: 50%;
        z-index: 29;
        color: #ffffff !important;
        border: 1px solid #ffffff;
        padding: .7rem 3rem;
        transition: all .3s;

        &:hover {
            cursor: pointer;
            background: $base-color;
        }
    }



}

@media (max-width: 600px) {

    .index {
        .main-gallery__h2 {
            width: 100%;
        }
    }
}