.notification-row {
  margin-top: 1rem;
  margin-bottom: 2rem;
  .title {
    width: 100%;
    background: $background__product__notification-row;

    .title-h2 {
      text-transform: uppercase;
      color: $product__notification-row__h2;
      text-align: center;
    }
  }
}
.basket-product {
  height: 100%;
  min-width: 550px;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  transform: translateX(100%);
  z-index: 1;
  transition:all .3s linear;
  border-left: 1px solid rgb(220, 220, 220);
  &.show {
    transform: translateX(0);

  }
  .basket__menu {
    .basket__menu-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(220, 220, 220);
      
      
      h1 {
          margin-left: 30px;
          font-size: 24px;
          font-family: "ProximaNova";
          color: rgb(44, 39, 40);
          line-height: 2;
          text-align: left;
          text-transform: uppercase;
      }
      .close__btn {
          border-width: 1px;
          border-color: rgb(220, 220, 220);
          border-style: solid;
          border-bottom: none;
          background-color: rgb(245, 245, 245);
          width: 77px;
          height: 82px;
          outline:none;
          span {
              color: rgb(184, 184, 184);
              width: 13px;
              height: 13px;
          }
        
      }
    }
    .basket__menu-body {
      display: flex;
      justify-content: space-between;
      margin-left: 30px;
      margin-top: 27px;
      margin-right: 78px;
      h2 {
          font-size: 12px;
          font-family: "ProximaNova";
          color: rgb(84, 84, 84);
          text-transform: uppercase;
          line-height: 1.333;
      }
      p {
          font-size: 14px;
          font-family: "ProximaNova";
          color: rgb(84, 84, 84);
          line-height: 1.143;
          margin-bottom: 0;
      }
      img {
        align-self: center;
      }
      .product__description {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
      }
      .product__amount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        button {
          border: unset;
          background-color: unset;
          outline: none;

        }
      }
    }
    .basket__menu-footer {
      padding-top: 60px;
      h1 {
          font-size: 16px;
          color: rgb(84, 84, 84);
          text-transform: uppercase;
          line-height: 1;
          text-align: center;
      }
      .payForOrder {
          border: none;
          outline: none;
          background-color: rgb(217, 174, 157);
          width: 100%;
          min-height: 34px;
          font-size: 14px;
          color: rgb(255, 255, 255);
          text-transform: uppercase;
          line-height: 1.714;
          margin-top: 20px;
      }
    }
  }
}
body {
  position: relative;
  overflow-x:hidden;
  transition:all .3s linear;
  left: 0;
  &.push {
   left: -40%; 
  }
}
.slider-for {

  img{
    margin: auto  ;
  }

  .slick-next{
    background: url(../images/arrowSlider.png);
    background-repeat: no-repeat;
    background-position: center;
    right: 20px;
    transform: rotate(180deg);
    &::before{
      content: "" !important;
    }
    


  }
  .slick-prev{
    background: url(../images/arrowSlider.png);
    background-repeat: no-repeat;
    background-position: center;
    left:  20px;
    z-index: 2;
    &::before{
      content: "" ;
    }
  }

  .slick-slide{
    outline: none;
    
  }
}



.product-inner__wrap-slider {

  .slider-nav {
    img {
      height: 103px;
      margin: auto;
    }
    .slick-slide{
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }



}

.parameters-wrap {
  margin: 1.5rem 0;
  display: flex;
  color: $product__notification-row__h5;
  h5{
    color: $product__notification-row__h5;
  }
  .parameters-wrap__select-wrap {
    display: flex;
    flex-direction: column;
    width: 25%;
    span {
      font-size: $font__product__filter;
    }
    button {
      font-size: $font__product__filter;
      color: $product__notification-row__h5;
      text-transform: uppercase;
    }
   
    h5 {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 1rem;
      font-size: $font__product__filter;
    }
    select {
      width: 100px;
      height: 28px;
      max-height: 50px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      background-image: url(../images/Arrow-down.svg);
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 9px;
      border: none;
      font-size: $font__catalog__body__filter;
      position: relative;
      transition: all .3s;
      color: $catalog__body__filter-color;
      user-select: none;
      /* supported by Chrome and Opera */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      cursor: pointer;

      &:focus {
        outline: none;
        background-image: url(../images/cross-select.svg);
        color: #d9ae9d;
        box-shadow: none;
      }


      &:hover {
        color: $base-color;

        &::after {
          background: $base-color;
        }

        &::before {
          background: $base-color;
        }
      }

      option {
        background: $base-color;
        color: #ffffff;
        border: none;

        &:focus {
          outline: none;
          background-position-y: 13px;
        }

        &:hover {
          background: $base-color;
        }
      }

      &:hover {
        background-position-y: 13px;
      }

      &:focus {
        background-position-y: 13px;
      }
    }
  }

  .dropdown-menu-color {
    max-width: 100px;
    background: #fff;
    color: #ffffff;
    border-radius: unset;
    border: 1px solid rgba(0, 0, 0, .09);

    input {
      width: 70%;
      background: transparent;
      border: none;
      border-bottom: 1px solid #ffffff;
      color: #ffffff;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: $font__filter__input;
      background: url(../images/KZT.png);
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 95%;

      &:focus {
        outline: none;
      }


    }

    p {
      text-align: center;
      font-size: $font__filter__input;
      margin-bottom: .5rem;
      margin-top: .5rem;
      width: 100%;
    }
  }

  .catalog__body-container__filter__row__select2{
    width: 100%;
    padding: 0;
  }
}


.product-inner__description {
  p {
    color: $product__describtion;
    font-size: $font__product__describtion__p;
  }
}

.catalog__body-container__display__item{
  a{
    &:hover {
      text-decoration: none;
    }
  }
}
.product-inner {
  margin-top: 2rem;
  .status-wrap {
    display: flex ;
   
  }

  .product-inner__title {
    font-size: $font__product__title;
    color: $product__notification-row__h2;
    text-transform: uppercase;
  }

  

  .catalog__body-container__display__item__status__label--SALE {
    text-transform: uppercase;
    padding: 4px 15px;
    display: inline-block;
    background: #d9ae9d;
    color: #ffffff;
    cursor: default;
    font-size: 13px;
  }

  .catalog__body-container__display__item__status__label--NEW {
    text-transform: uppercase;
    padding: 4px 15px;
    display: inline-block;
    background: #e8e8e8;
    color: #696969;
    cursor: default;
    font-size: 13px;
  }

  .product-inner__price {
       span {
         color: $product__describtion ;
         font-size: $font__product__description__PRICE ;
         
       }
       margin-bottom: 30px;
  }

  .product-inner__btn{
    text-align: center;
    a{
      color: $product__describtion ;
      text-transform: uppercase;
      color: $product__btn;
      padding: 1% 12.5% ;
      display: inline-block;
      
      &:first-child{
        background: $base-color;
        margin-right: 11px;
      }
      &:last-child{
        background: $product__btn-fav;
        margin-left: 11px;
        color: $product__btn-fav-font;
      }
      &:hover {
        text-decoration: none;
      }
    }

    
  }
}

.product-sliders{
  margin-top: 5%;
  .nav-item{
    width: 50%;
    text-align: center;
      .nav-link{
        border-radius: unset;
        background-color: $product-inner__navs__background ;
        color: $product-inner__navs__color;
        border: 2px solid $product-inner__navs__background;
        text-transform: uppercase;
      }
 
    .active {
      background-color: transparent !important;
      border: 2px solid $product-inner__navs__background;
    }
  }
}


  .catalog__body-container__display__item {
      .catalog__body-container__display__item__frame {
          margin-top: 2rem;
          min-height: 260px;
          position: relative;

          .catalog__body-container__display__item__frame__1 {
              width: 100%;
              height: 100%;
              z-index: 1;
              position: absolute;
              background: url(../images/catalog__item-1.png);
              background-size: cover;
              transition: all .3s;
          }

          .catalog__body-container__display__item__frame__2 {
              width: 100%;
              height: 100%;
              z-index: 2;
              position: absolute;
              background: url(../images/catalog__item-2.png);
              background-size: cover;
              transition: all .3s;
          }

          svg {
              position: absolute;
              right: 4%;
              bottom: 3%;
              z-index: 9;
              transition: all .3s;
              cursor: pointer;

              path {
                  fill: rgba(255, 255, 255, .6);
                  stroke: #ffffff;
              }

              &:hover {
                  transform: scale(1.5);
              }

          }

          .inFavorites {
              transform: scale(1.5);
          }

          a{
              width: 100%;
              height: 90%;
              position: absolute;
              display: inline-block;
              z-index: 100;
          }
      }

      .catalog__body-container__display__item__color {
          display: flex;
          justify-content: center;

          .catalog__body-container__display__item__color--wrapper {
              height: 34px;

              span {
                  min-width: 12px;
                  min-height: 12px;
                  border: 1px solid transparent;
                  background: #fff;
                  display: inline-block;
                  border-radius: 50%;
                  position: relative;
                  margin: 0px 2px;
                  transition: all .3s;
                  cursor: pointer;


                  a {
                      background: $catalog__body__item__color-btn;
                      display: inline-block;
                      width: 8px;
                      height: 8px;
                      position: absolute;
                      border-radius: 50%;
                      transform: translate(-50%, -50%);
                      top: 50%;
                      left: 50%;
                  }

                  &:hover {
                      a {
                          border: 1px solid #ffffff;
                          width: 9px;
                          height: 9px;
                      }

                      border: 1px solid #adc2a3;
                  }
              }
          }
      }

      .catalog__body-container__display__item__status {
          .catalog__body-container__display__item__status__label--NEW {
              text-transform: uppercase;
              padding: 4px 15px;
              display: inline-block;
              background: $catalog__body__item__label-new-bg;
              color: $catalog__body__item__label-new-color;
              cursor: default;
              font-size: $font__catalog__body__item;
          }

          .catalog__body-container__display__item__status__label--SALE {
              text-transform: uppercase;
              padding: 4px 15px;
              display: inline-block;
              background: $catalog__body__item__label-sale-bg;
              color: $catalog__body__item__label-sale-color;
              cursor: default;
              font-size: $font__catalog__body__item;
          }
      }

      .catalog__body-container__display__item__title {
          h3 {
              color: $catalog__body__item-h3;
              font-size: $font__catalog__body__item;
              text-transform: uppercase;
              padding: 17px 0;
          }
      }

      .catalog__body-container__display__item__price {
          text-transform: uppercase;
          font-weight: 600;
          font-size: $font__catalog__body__item;
          display: flex;
          justify-content: start;
          max-height: 16px;
          position: relative;

          span:last-child {
              font-size: $font__catalog__body__item__old-price;
              margin-left: 2rem;
              position: relative;
              padding-top: 3px;

              &::before {
                  content: "";
                  display: inline-block;
                  width: 100%;
                  height: 1px;
                  background: $catalog__body__item__old-price-after;
                  opacity: .6;
                  position: absolute;
                  top: 70%;

              }
          }
      }
  }
