@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";



.index {
    .slider-top {
        .glide__arrow {
            width: 26px;
            height: 20px;
            background: url(../images/Arrow-down.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border: none;
            box-shadow: none;
            position: absolute;
            top: 50%;

            &:focus {
                outline: none;
                outline: none;
            }
        }

        .glide__arrow--left {
            transform: rotate(90deg);
            left: -2rem;
        }

        .glide__arrow--right {
            transform: rotate(-90deg);
            right: -2rem;
        }
    }

}

.component-slider {
    margin-bottom: 4rem;
    .glide_sub {
        img {
            width: 100%;
        }
    }
    
    .slider__h2 {
        font-size: 24px;
        width: 50%;
        border-bottom: 1px solid $shade-black;
        margin: 3rem 0 2.7rem auto;
        padding-bottom: 13px;
    }
}


@media (max-width: 600px) {
    .component-slider{
       .slider__h2{
            width: 100%;
        }
    }
}