body::-webkit-scrollbar {
  width: 11px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  -webkit-box-shadow: transparent;
  padding-right: .5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: $base-color;
  outline: 1px solid $base-color;
  border-radius: 14px;
}


//SHOPS PAGE SCROLL

.shops {
  .shops__column--wrapper {
    overflow-x: hidden;
  }
  .shops__column--wrapper::-webkit-scrollbar {
    width: 11px;
  }

  .shops__column--wrapper::-webkit-scrollbar-track {
    background: transparent;
    -webkit-box-shadow: transparent;
    padding-right: .5rem;
  }

  .shops__column--wrapper::-webkit-scrollbar-thumb {
    background-color: $base-color;
    outline: 1px solid $base-color;
    border-radius: 14px;
  }
}